{% extends 'student/base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-4">
        <h2 class='text-center alert alert-info'>Add New Student</h2>
        <form action="/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" name=" Add" id="">
    </form>
    </div>
    <div class="col-sm-8">
        <h2 class="text-center alert alert-info">Student Information</h2>

        {% if students %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">RollNumber</th>
                <th scope="col">Email</th>
                <th scope="col">Year</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for student in students%}
              <tr>
                <th scope="row">{{ student.id}}</th>
                <td>{{student.name}}</td>
                <td>{{student.rollnumber}}</td>
                <td>{{student.email}}</td>
                <td>{{student.year}}</td>
                <td> 
                    <a class='btn btn-warning btn-sm' href="{% url 'editstudent' student.id %}">Edit</a>
                </td>
                <td> 
                    <form class="d-inline" action="{% url 'deletestudent' student.id %}" method='POST'>
                        {% csrf_token %}
                        <input class='btn btn-danger btn-sm' type="submit" value="Delete">
                    </form>
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        
        {% else %}
        <h2 class="text-center alert alert-info">No Records</h2>
        {% endif %}

    </div>
</div>

{% endblock %}